.ticketsContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 5;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 1rem;
}

@media(min-width: 1025px) {
    .ticketsContainer{
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}