.ticketsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    background-color: violet;
    aspect-ratio: 2/1;
}

@media(min-width: 768px) {
    .ticketsContainer{
        grid-column-start: 6;
        grid-row-start: 2;
        grid-column: span 2;
    }
}