.myEventsContainer{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    grid-row-start: 4;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 5;
    padding: var(--spacing-tiny);
}