.myEventsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-row-start: 4;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 5;
    box-sizing: border-box;
    padding: var(--spacing-tiny);
}

.myEventHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 2px 0px black, 0px 2px black, -2px 0px black, 0px -2px black, 3px 3px 2px hsl(from var(--color-inner-yellow) h s l / 0.5);
    filter: drop-shadow(0 0 0.4rem var(--color-inner-yellow));
    font-family: var(--custom-font-sec-regular);
    font-size: var(--custom-font-sizexl);
}

.myEventBody{
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media(min-width: 1025px) {
    .myEventsContainer{
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}