@import '../../commoncss/animations.css';

.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 4;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 5;
    box-sizing: border-box;
    padding: var(--spacing-tiny);
}

.eventsContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
    overflow-y: scroll;
}

@media(min-width: 1025px) {
    .mainContainer{
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}