.navbarContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    box-sizing: border-box;
    border-right: 1px solid black;
}

.navbarInner{
    width: 100%;
    height: 100%;
    padding-top: var(--spacing-social);
    padding-left: var(--spacing-social);
}

.navbarElement{
    padding-bottom: var(--spacing-collegue);
    font-size: var(--custom-font-size-sm);
    font-weight: 700;
}

.footerContainer{
    width: 100%;
    font-size: var(--custom-font-size-xs);
    padding-left: var(--spacing-social);
    padding-bottom: var(--spacing-social);
    padding-right: var(--spacing-social);
}

@media(min-width: 1025px) {
    .navbarContainer{
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}