.eventsContainer{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 1rem;
}

.eventsContainer::after{
    content: 'Up Coming';
    position: absolute;
    font-family: var(--custom-font-secondary-medium);
    font-size: 12px;
    height: 8px;
    top: 0;
    left: 10%;
    transform: translateY(-50%);
    z-index: 5;
    padding: 5px;
    color: green;
    background-color: white;
    overflow: hidden;
}

.eventsHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--custom-font-light);
    font-size: 12px;
    padding-top: var(--spacing-collegue);
}

.headerLeft{
    width: 40%;
    padding-left: var(--spacing-collegue);
}

.headerRight{
    width: 40%;
    padding-right: var(--spacing-collegue);
    text-align: end;
}

.eventsBody{
    padding-top: var(--spacing-collegue);
    padding-bottom: var(--spacing-collegue);
}

.eventName {
    font-family: var(--custom-font-secondary-medium);
    font-size: 20px;
    color: red;
}

.eventsDetails{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: var(--custom-font-light);
    font-size: 12px;
    padding-bottom: var(--spacing-collegue);
}

.eventsDetail:nth-child(1){
    padding-left: var(--spacing-collegue);
}

.eventsDetail:last-child{
    padding-right: var(--spacing-collegue);
}


@media(min-width: 1025px) {
    .eventsContainer{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .eventsContainer::after{
        font-size: 24px;
        height: 24px;
    }
}