.eventsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: coral;
    aspect-ratio: 2/1;
}