/* ANIMATION CLASSES */
.flick{
    animation: flicker-initial 2s linear;
}

.slideIn{
    animation: slide-in 0.3s linear;
}

/* KEYFRAMES */
@keyframes flicker-initial{
    0%{
        filter: none;
        color: gray;
    }
    10%{
        color: hsl(from var(--color-inner-yellow) h s l / 0.7);
        filter: drop-shadow(0 0 0.2rem var(--color-inner-yellow));
    }
    11%{
        filter: none;
        color: gray;
    }
    25%{
        color: hsl(from var(--color-inner-yellow) h s l / 0.7);
        filter: drop-shadow(0 0 0.2rem var(--color-inner-yellow));
    }

    27%{
        color: var(--color-inner-yellow);
        filter: drop-shadow(0 0 0.4rem var(--color-inner-yellow));        
    }
    30%{
        filter: none;
        color: gray;
    }
    35%{
        color: var(--color-inner-yellow);
        filter: drop-shadow(0 0 0.4rem var(--color-inner-yellow));      
    }
    100%{
        color: var(--color-inner-yellow);
        filter: drop-shadow(0 0 0.4rem var(--color-inner-yellow));
    }
}

@keyframes slide-in {
    0%{
        padding-top: 100%;
        overflow: hidden;
    }

    100%{
        margin-top: 0;
    }
}