.profileContainer{
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: var(--spacing-tiny)
}

.profileInner{
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--spacing-boss);
    border: 2px solid var(--color-accent-light);
    border-radius: 1rem;
    box-shadow: 3px 4px var(--color-accent-light);
    background-color: var(--color-surface-main);
}

.profileLeft{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotate(180deg);
    font-size: var(--custom-font-size-sm);
    writing-mode: vertical-rl;
}

.userNameContainer{
    text-align: center;
    padding-right: var(--spacing-tiny);
    padding-left: var(--spacing-tiny);
    border-left: 1px solid var(--color-accent-light);
    color: var(--color-green-primary);
}

.userNameDesc, .titleDesc{
    text-align: center;
    font-family: var(--custom-font-bold);
    font-size: var(--custom-font-size-xs);
    padding-right: var(--spacing-tiny);
    padding-left: var(--spacing-tiny);
    color: var(--color-red-primary);
}

.profileRight{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--custom-font-size-sm);
    padding-right: var(--spacing-social);
    padding-left: var(--spacing-social);
}

.rightHeader{
    display: flex;
    justify-content: space-between;
    padding-top: var(--spacing-social);
}

.rightHeader>div {
    width: 40%;
}

.rightDesc{
    /* padding-top: var(--spacing-social); */
}

.rightBody{
    display: flex;
    flex-direction: column;
    /* padding-top: var(--spacing-social); */
    padding-bottom: var(--spacing-social);
}

.headerLeft{
    font-family: var(--custom-font-sec-regular);
    font-size: var(--custom-font-size-xl);
    line-height: 0.8;
    color: #ff4dc9;
}

.headerRight{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.birthDate{
    border-bottom: 1px solid black;
    font-family: var(--custom-font-light);
}

.birthDateTitle{
    font-family: var(--custom-font-bold);
    font-size: var(--custom-font-size-xs);
}

.bodyInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: var(--spacing-social);
}

.titleId{
    font-family: var(--custom-font-bold);
    text-align: center;
    color: var(--color-green-primary);
}

.infoUp, .infoDown{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.infoSubLeft, .infoSub{
    width: 100%;
}

.name, .role, .email{
    text-align: start;
    font-family: var(--custom-font-light);
    border-bottom: 1px solid black;
}

.nameTitle, .roleTitle, .emailTitle{
    text-align: start;
    font-family: var(--custom-font-bold);
    font-size: var(--custom-font-size-xs);
}

.bodyPicture{
    display: none;
    height: 100%;
    width: 250px;
    justify-content: center;
    align-items: center;
}

.imgContainer{
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    border: 1px solid black;
}

.imgContainer img{
    width: 100%;
}

@media(min-width: 1025px) {
    .profileContainer{
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 6;
        grid-column-end: 9;
    }
}

@media(min-width: 350px) {
    .profileInner{
        max-height: 150px;
    }
}

@media(min-width: 400px) {
    .profileInner{
        max-height: 170px;
    }
}

@media(min-width: 600px) {
    .profileInner{
        max-height: 250px;
    }
}

@media(min-width: 750px) {
    .profileInner{
        max-height: 290px;
    }
}

@media(min-width: 1000px) {
    .profileInner{
    }
}

@media(min-width: 825px) {
    .bodyPicture{
        display: flex;
    }
}

@media(min-width: 1025px) and (max-width: 1550px) {
    .bodyPicture{
        display: none;
    }
}