.profileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
    aspect-ratio: 1/1;
    background-color: azure;
}

@media(min-width: 768px) {
    .profileContainer{
        grid-row-start: 1;
        grid-column-start: 5;
        grid-column-end: 9;
    }
}