@import './commoncss/fonts.css';

:root {
  --color-pink-1: #ffa6d9;
  --color-pink-2: hsl(from #ffa6d9 h s l / 87%);
  --color-pink-3: hsl(from #ffa6d9 h s l / 66%);
  --color-pink-4: hsl(from #ffa6d9 h s l / 32%);
  --color-green-1: #6bffb3;
  --color-green-2: hsl(from #6bffb3 h s l / 87%);
  --color-green-3: hsl(from #6bffb3 h s l / 66%);
  --color-green-4: hsl(from #6bffb3 h s l / 32%);
  --color-violet-1: #9161f2;
  --color-violet-2: hsl(from #9161f2 h s l / 87%);
  --color-violet-3: hsl(from #9161f2 h s l / 66%);
  --color-violet-4: hsl(from #9161f2 h s l / 32%);

  --custom-font-bold: 'Suse-Bold';
  --custom-font-boldItalic: 'Suse-BoldItalic';
  --custom-font-semiBold: 'Suse-SemiBold';
  --custom-font-semiBoldItalic: 'Suse-SemiBoldItalic';
  --custom-font-medium: 'Suse-Medium';
  --custom-font-mediumItalic: 'Suse-MediumItalic';
  --custom-font-regular: 'Suse-Regular';
  --custom-font-regularItalic: 'Suse-RegularItalic';
  --custom-font-light: 'Suse-Light';
  --custom-font-lightItalic: 'Suse-LightItalic';
  --custom-font-thin: 'Suse-Thin';
  --custom-font-thinItalic: 'Suse-ThinItalic';

  --custom-font-secondary-xbold: 'Tourney-XBold';
  --custom-font-secondary-bold: 'Tourney-Bold';
  --custom-font-secondary-medium: 'Tourney-Medium';
  --custom-font-secondary-regular: 'Tourney-Regular';
  --custom-font-secondary-light: 'Tourney-Light';
  --custom-font-secondary-thin: 'Tourney-Thin';

  --spacing-tiny: 2px;
  --spacing-friend: 4px;
  --spacing-collegue: 6px;
  --spacing-social: 8px;
  --spacing-manager: 10px;
  --spacing-boss: 12px;

  --custom-font-size-xs: 8px;
  --custom-font-size-sm: 12px;
  --custom-font-size-rg: 16px;
  --custom-font-size-md: 20px;
  --custom-font-size-lg: 24px;
  --custom-font-size-xl: 28px;
  --custom-font-size-xxl: 32px;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Suse-Regular;
}

::-webkit-scrollbar{
  display: none;
}

@media(min-width: 350px) {
  :root{
    --custom-font-size-xs: 6px;
    --custom-font-size-sm: 10px;
    --custom-font-size-rg: 14px;
    --custom-font-size-md: 18px;
    --custom-font-size-lg: 22px;
    --custom-font-size-xl: 26px;
    --custom-font-size-xxl: 34px;
  }
}

@media(min-width: 400px) {
  :root{
    --spacing-tiny: 4px;
    --spacing-friend: 6px;
    --spacing-collegue: 8px;
    --spacing-social: 10px;
    --spacing-manager: 12px;
    --spacing-boss: 14px;

    --custom-font-size-xs: 8px;
    --custom-font-size-sm: 12px;
    --custom-font-size-rg: 16px;
    --custom-font-size-md: 20px;
    --custom-font-size-lg: 24px;
    --custom-font-size-xl: 28px;
    --custom-font-size-xxl: 36px;
  }
}

@media(min-width: 600px) {
  :root{
    --custom-font-size-xs: 14px;
    --custom-font-size-sm: 18px;
    --custom-font-size-rg: 22px;
    --custom-font-size-md: 26px;
    --custom-font-size-lg: 30px;
    --custom-font-size-xl: 34px;
    --custom-font-size-xxl: 42px;
  }
}

/* @media(min-width: 800px) {
  :root{
    --custom-font-size-xs: 18px;
    --custom-font-size-sm: 22px;
    --custom-font-size-rg: 24px;
    --custom-font-size-md: 30px;
    --custom-font-size-lg: 34px;
    --custom-font-size-xl: 38px;
    --custom-font-size-xxl: 46px;
  }
} */