.ticketDisplayModalContainer[data-active=true]{
    position: absolute;
    box-sizing: border-box;
    z-index: 10;
    background-color: var(--color-layout-main);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticketDisplayModalContainer{
    display: none;
}

.ticketDisplayModalContainer h1{

}