.contentElement{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--spacing-tiny);
    padding-bottom: var(--spacing-tiny);
}

.elementOuter{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--color-layout-secondary);
    border-radius: 25%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    overflow-x: hidden;
    box-sizing: border-box;
    border: 2px solid var(--color-layout-accent-light);
}

.elementInner:nth-child(1){
    width: 100%;
    background-color: var(--color-card-pink);
    filter: drop-shadow(0 3px 0.25rem var(--color-card-pink));
    /* background-color: var(--color-calendar-blend); */
}

.elementInner:nth-child(2){
    width: 100%;
    background-color: var(--color-card-green);
    filter: drop-shadow(
        0 3px 0.25rem var(--color-card-green),
        0 -3px 0.25rem var(--color-card-green)
        );
    /* background-color: var(--color-calendar-blend); */
}

.elementInner:nth-child(3){
    width: 100%;
    background-color: var(--color-inner-yellow);
    filter: drop-shadow(0 -3px 0.25rem var(--color-inner-yellow));
    /* background-color: var(--color-calendar-blend); */
}

.contentElement::after{
    content: "WILD";
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--custom-font-bold);
    font-size: var(--custom-font-size-xs);
    position: absolute;
    color: var(--color-layout-secondary);
    text-shadow: 
        1px 0px black,
        0px 1px black,
        -1px 0px black,
        0px -1px black,
        0 4px 2px hsl(from black h s l / 0.3);
    filter: drop-shadow(0 2px 0.25rem var(--color-layout-secondary));
    transform: rotate(45deg);
}